body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: inline-block;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.accent {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;

}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.head-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}
.head-nav__link:hover,
.head-nav__link:focus {
  color: #404bbf;
}
.contact-block {
  font-style: normal;
  margin-left: auto;
}
.section-address {
  display: flex;
  gap: 40px;
}

.head-info__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
}
.head-info__link:hover,
.head-info__link:focus {
  color: #404bbf;
}

.main-pages {
  background: #2e2f42;
  padding: 188px 0;
  background-image:
   url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}
.main-page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
}

.main-page-btn:hover,
.main-page-btn:focus {
  background: #404bbf;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-app {
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;

}
.page-title-list {
  display: flex;
  gap: 24px;
  margin: auto;
}
.text-item {
  width: calc((100% - 72px) / 4);
}
.page-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-of-team {
  background: #f4f4fd;
}
.menu-title {

  display: flex;
  gap: 24px;
 
}
.page-title-team {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}
.menu-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  
}
.page-title-portfolio {
  width: calc((100% - 48px) / 3);
}
.team-list-container {
  padding: 32px 0;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.name-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.portfolio-conteiner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-conteiner .name {
  text-align: start;
}
.portfolio-conteiner .name-text {
  text-align: start;
}
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.conteiner-footer {
  margin-left: 156px;
}
.footer-accent {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
